@import url('https://fonts.google.com/specimen/Poppins?query=poppins');

.App {
    font-family: 'Poppins', sans-serif;
    color: #F9FAFB;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    min-height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.header h1 {
    font-size: calc(28px + 2vmin);
    font-weight: 700;
    color: #FFF;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    margin-bottom: 25px;
}

.headerBtn {
    border-radius: 12px;
    border: 2px solid #646cff;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    color: #646cff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px;
}

.headerBtn:hover {
    background-color: #646cff;
    color: white;
}

.ReadPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
    width: 100%;
    max-width: 1400px;
    justify-items: center;
}